.u-section-1 .u-sheet-1 {
    min-height: 806px;
}

.u-section-1 .u-group-1 {
    min-height: 756px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.u-section-1 .u-container-layout-1 {
    padding: 30px 0 0;
}

.u-section-1 .u-text-1 {
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
    margin: 0 30px;
}

.u-section-1 .u-text-2 {
    margin: 20px 30px 0;
}

.u-section-1 .u-gallery-1 {
    height: 397px;
    grid-gap: 10px 10px;
    margin-top: 0;
    margin-bottom: 0;
}

.u-section-1 .u-carousel-indicators-1 {
    position: absolute;
    bottom: 10px;
}

.u-section-1 .u-over-slide-1 {
    min-height: 100px;
    padding: 10px;
}

.u-section-1 .u-over-slide-2 {
    min-height: 100px;
    padding: 10px;
}

.u-section-1 .u-carousel-control-1 {
    position: absolute;
    left: 10px;
    width: 40px;
    height: 40px;
}

.u-section-1 .u-carousel-control-2 {
    position: absolute;
    right: 10px;
    width: 40px;
    height: 40px;
}

@media (max-width: 1199px) {
    .u-section-1 .u-group-1 {
        min-height: 648px;
    }

    .u-section-1 .u-text-1 {
        margin-left: 0;
        margin-right: 0;
    }

    .u-section-1 .u-text-2 {
        margin-left: 0;
        margin-right: 0;
    }

    .u-section-1 .u-gallery-1 {
        height: 266px;
    }
}

@media (max-width: 575px) {
    .u-section-1 .u-group-1 {
        min-height: 1033px;
    }

    .u-section-1 .u-gallery-1 {
        height: 107px;
    }
}

.u-section-2 .u-sheet-1 {
    min-height: 257px;
}

.u-section-2 .u-text-1 {
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
    margin: 36px 0 0;
}

.u-section-2 .u-list-1 {
    min-height: 85px;
    grid-template-rows: auto auto auto;
    height: auto;
    margin-top: 7px;
    margin-bottom: 0;
}

.u-section-2 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: 100%;
    grid-gap: 10px 10px;
    grid-auto-rows: 100%;
}

.u-section-2 .u-container-layout-1 {
    padding: 30px;
}

.u-section-2 .u-icon-1 {
    height: 35px;
    width: 35px;
    margin: -5px auto 0 68px;
}

.u-section-2 .u-text-2 {
    margin: -30px 0 0 115px;
}

.u-section-2 .u-text-3 {
    margin: 68px 0 0;
}

@media (max-width: 1199px) {
    .u-section-2 .u-sheet-1 {
        min-height: 242px;
    }

    .u-section-2 .u-list-1 {
        min-height: 70px;
        margin-bottom: 60px;
    }

    .u-section-2 .u-repeater-1 {
        grid-auto-rows: calc(33.33% - 6.666666666666667px);
    }

    .u-section-2 .u-text-2 {
        margin-top: 20px;
        margin-right: auto;
        margin-left: 68px;
        margin-bottom: initial;
    }
}

@media (max-width: 991px) {
    .u-section-2 .u-sheet-1 {
        min-height: 226px;
    }

    .u-section-2 .u-list-1 {
        min-height: 54px;
    }
}

@media (max-width: 767px) {
    .u-section-2 .u-sheet-1 {
        min-height: 213px;
    }

    .u-section-2 .u-list-1 {
        min-height: 41px;
    }

    .u-section-2 .u-container-layout-1 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-section-2 .u-text-2 {
        margin: -30px 0 0 115px;
    }
}

@media (max-width: 575px) {
    .u-section-2 .u-sheet-1 {
        min-height: 198px;
    }

    .u-section-2 .u-list-1 {
        min-height: 26px;
        margin-top: 20px;
    }
}