.u-section-1 .u-sheet-1 {
    min-height: 576px;
}

.u-section-1 .u-layout-wrap-1 {
    margin-top: 35px;
    margin-bottom: 35px;
}

.u-section-1 .u-layout-cell-1 {
    min-height: 506px;
}

.u-section-1 .u-container-layout-1 {
    padding: 30px;
}

.u-section-1 .u-text-1 {
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
    margin: 16px 0 0;
}

.u-section-1 .u-image-1 {
    width: 255px;
    height: 256px;
    margin: 20px auto 0;
}

.u-section-1 .u-text-2 {
    width: 270px;
    margin: 10px auto 0;
}

.u-section-1 .u-layout-cell-2 {
    min-height: 506px;
}

.u-section-1 .u-container-layout-2 {
    padding: 30px;
}

.u-section-1 .u-text-3 {
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
    margin: 45px 0 0;
}

.u-section-1 .u-text-4 {
    margin: 45px 0 0;
}

.u-section-1 .u-form-1 {
    height: 83px;
    width: 510px;
    margin: 63px 0 0;
}

.u-section-1 .u-btn-1 {
    border-style: solid;
}

.u-section-1 .u-text-5 {
    margin: 0;
}

@media (max-width: 1199px) {
    .u-section-1 .u-sheet-1 {
        min-height: 430px;
    }

    .u-section-1 .u-layout-wrap-1 {
        position: relative;
    }

    .u-section-1 .u-layout-cell-1 {
        min-height: 417px;
    }

    .u-section-1 .u-text-1 {
        width: 270px;
    }

    .u-section-1 .u-layout-cell-2 {
        min-height: 417px;
    }

    .u-section-1 .u-text-4 {
        margin-left: 33px;
        margin-right: 33px;
    }

    .u-section-1 .u-form-1 {
        width: 410px;
    }
}

@media (max-width: 991px) {
    .u-section-1 .u-sheet-1 {
        min-height: 353px;
    }

    .u-section-1 .u-layout-cell-1 {
        min-height: 100px;
    }

    .u-section-1 .u-layout-cell-2 {
        min-height: 100px;
    }

    .u-section-1 .u-form-1 {
        width: 300px;
    }
}

@media (max-width: 767px) {
    .u-section-1 .u-sheet-1 {
        min-height: 580px;
    }

    .u-section-1 .u-container-layout-1 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-section-1 .u-layout-cell-2 {
        min-height: 468px;
    }

    .u-section-1 .u-container-layout-2 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-section-1 .u-form-1 {
        height: 146px;
        margin-top: 56px;
        margin-right: 107px;
        margin-left: 113px;
    }

    .u-section-1 .u-text-5 {
        margin-top: 7px;
    }
}

@media (max-width: 575px) {
    .u-section-1 .u-sheet-1 {
        min-height: 439px;
    }

    .u-section-1 .u-layout-cell-2 {
        min-height: 100px;
    }

    .u-section-1 .u-form-1 {
        margin-right: 7px;
        margin-left: 13px;
    }
}