.u-section-1 .u-sheet-1 {
    min-height: 1381px;
}

.u-section-1 .u-layout-wrap-1 {
    width: 958px;
    margin: 0 auto 60px;
}

.u-section-1 .u-layout-cell-1 {
    min-height: 605px;
}

.u-section-1 .u-container-layout-1 {
    padding: 30px 30px 30px 0;
}

.u-section-1 .u-text-1 {
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
    text-transform: none;
    letter-spacing: normal;
    margin: 176px 0 0;
}

.u-section-1 .u-text-2 {
    margin: 23px -269px 0 0;
}

.u-section-1 .u-btn-1 {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 1.125rem;
    background-image: none;
    border-style: none;
    margin: 102px auto 0 120px;
    padding: 10px 52px 10px 51px;
}

.u-section-1 .u-layout-cell-2 {
    min-height: 605px;
}

.u-section-1 .u-container-layout-2 {
    padding: 30px;
}

.u-section-1 .u-text-3 {
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
    margin: 51px -30px 0 -321px;
}

.u-section-1 .u-btn-2 {
    padding: 0;
}

.u-section-1 .u-text-4 {
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
    margin: 270px 30px 0 -30px;
}

.u-section-1 .u-text-5 {
    font-size: 1.125rem;
    margin: 14px 30px 0 -30px;
}

.u-section-1 .u-btn-3 {
    font-size: 1.25rem;
    padding: 0;
}

.u-section-1 .u-btn-4 {
    font-size: 1.25rem;
    padding: 0;
}

.u-section-1 .u-btn-5 {
    font-size: 1.25rem;
    padding: 0;
}

.u-section-1 .u-layout-cell-3 {
    min-height: 674px;
}

.u-section-1 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
}

.u-section-1 .u-shape-1 {
    width: 529px;
    height: 557px;
    background-image: none;
    margin: 145px auto 0 -135px;
}

.u-section-1 .u-image-1 {
    width: 894px;
    height: 628px;
    margin: -679px auto 0;
}

@media (max-width: 1199px) {
    .u-section-1 .u-sheet-1 {
        min-height: 1384px;
    }

    .u-section-1 .u-layout-wrap-1 {
        width: 871px;
        margin-right: 0;
        margin-bottom: 0;
    }

    .u-section-1 .u-layout-cell-1 {
        min-height: 676px;
    }

    .u-section-1 .u-text-1 {
        width: auto;
        margin-top: 191px;
        margin-right: 174px;
    }

    .u-section-1 .u-text-2 {
        width: auto;
        margin-right: -190px;
    }

    .u-section-1 .u-btn-1 {
        margin-top: 107px;
        margin-left: auto;
    }

    .u-section-1 .u-layout-cell-2 {
        min-height: 676px;
    }

    .u-section-1 .u-text-3 {
        width: auto;
        margin-top: 12px;
        margin-right: 0;
        margin-left: -255px;
    }

    .u-section-1 .u-text-4 {
        width: auto;
        margin-top: 302px;
        margin-right: 0;
    }

    .u-section-1 .u-text-5 {
        width: auto;
        margin-top: 30px;
        margin-right: 0;
    }

    .u-section-1 .u-layout-cell-3 {
        background-position: 50% 50%;
        min-height: 751px;
    }

    .u-section-1 .u-shape-1 {
        height: 451px;
        margin-top: 270px;
        margin-left: 0;
    }

    .u-section-1 .u-image-1 {
        margin-top: -661px;
        margin-left: -12px;
        margin-right: -12px;
    }
}

@media (max-width: 991px) {
    .u-section-1 .u-sheet-1 {
        min-height: 1362px;
    }

    .u-section-1 .u-layout-wrap-1 {
        width: 663px;
        margin-top: 1px;
        margin-right: 20px;
        margin-bottom: 1px;
    }

    .u-section-1 .u-layout-cell-1 {
        min-height: 417px;
    }

    .u-section-1 .u-text-1 {
        margin-top: 161px;
        margin-right: 64px;
    }

    .u-section-1 .u-text-2 {
        margin-top: 20px;
        margin-right: -205px;
    }

    .u-section-1 .u-btn-1 {
        margin-top: 131px;
        margin-left: 37px;
    }

    .u-section-1 .u-layout-cell-2 {
        min-height: 417px;
    }

    .u-section-1 .u-container-layout-2 {
        padding-left: 0;
    }

    .u-section-1 .u-text-3 {
        margin-top: 0;
        margin-left: -216px;
    }

    .u-section-1 .u-text-4 {
        margin-top: 312px;
        margin-left: 0;
    }

    .u-section-1 .u-text-5 {
        margin-top: 25px;
        margin-left: 0;
    }

    .u-section-1 .u-layout-cell-3 {
        min-height: 683px;
    }

    .u-section-1 .u-shape-1 {
        width: 344px;
        height: 276px;
        margin-top: 316px;
    }

    .u-section-1 .u-image-1 {
        width: 720px;
        height: 506px;
        margin-top: -532px;
        margin-right: auto;
        margin-left: -13px;
    }
}

@media (max-width: 767px) {
    .u-section-1 .u-sheet-1 {
        min-height: 1225px;
    }

    .u-section-1 .u-layout-wrap-1 {
        width: 480px;
        margin-right: auto;
    }

    .u-section-1 .u-layout-cell-1 {
        min-height: 638px;
    }

    .u-section-1 .u-container-layout-1 {
        padding-right: 10px;
    }

    .u-section-1 .u-text-1 {
        margin-top: 153px;
        margin-right: 44px;
    }

    .u-section-1 .u-text-2 {
        margin-top: 14px;
        margin-right: 34px;
    }

    .u-section-1 .u-btn-1 {
        margin-top: 195px;
        margin-bottom: -55px;
        margin-left: 150px;
        padding: 5px 11px 6px 10px;
    }

    .u-section-1 .u-layout-cell-2 {
        min-height: 51px;
    }

    .u-section-1 .u-container-layout-2 {
        padding-top: 0;
        padding-right: 10px;
        padding-bottom: 40px;
    }

    .u-section-1 .u-text-3 {
        margin-top: -638px;
        margin-right: -10px;
        margin-left: 0;
    }

    .u-section-1 .u-text-4 {
        margin-top: 301px;
        margin-right: 44px;
    }

    .u-section-1 .u-text-5 {
        margin-top: 14px;
        margin-right: 44px;
    }

    .u-section-1 .u-layout-cell-3 {
        min-height: 380px;
    }

    .u-section-1 .u-shape-1 {
        width: 337px;
        height: 383px;
        margin-top: 94px;
        margin-left: -29px;
    }

    .u-section-1 .u-image-1 {
        width: 540px;
        height: 380px;
        margin-top: -417px;
        margin-right: -60px;
        margin-left: auto;
    }
}

@media (max-width: 575px) {
    .u-section-1 .u-sheet-1 {
        min-height: 516px;
    }

    .u-section-1 .u-layout-wrap-1 {
        width: 300px;
    }

    .u-section-1 .u-layout-cell-1 {
        min-height: 791px;
    }

    .u-section-1 .u-container-layout-1 {
        padding-bottom: 0;
    }

    .u-section-1 .u-text-1 {
        margin-right: 0;
    }

    .u-section-1 .u-text-2 {
        margin-top: 20px;
        margin-right: 0;
    }

    .u-section-1 .u-btn-1 {
        margin-top: 252px;
        margin-left: auto;
        margin-bottom: 0;
    }

    .u-section-1 .u-layout-cell-2 {
        min-height: 30px;
    }

    .u-section-1 .u-container-layout-2 {
        padding-bottom: 30px;
    }

    .u-section-1 .u-text-3 {
        margin-top: -789px;
        margin-right: 0;
    }

    .u-section-1 .u-text-4 {
        margin-top: 426px;
        margin-right: 0;
    }

    .u-section-1 .u-text-5 {
        margin-top: 10px;
        margin-right: 0;
    }

    .u-section-1 .u-layout-cell-3 {
        min-height: 363px;
    }

    .u-section-1 .u-shape-1 {
        width: 251px;
        height: 224px;
        margin-top: 103px;
        margin-left: 0;
    }

    .u-section-1 .u-image-1 {
        width: 340px;
        height: 239px;
        margin-top: -254px;
        margin-right: -40px;
        margin-left: 0;
    }
}