.u-section-1 .u-sheet-1 {
    min-height: 776px;
}

.u-section-1 .u-layout-wrap-1 {
    margin-top: 20px;
    margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
    min-height: 430px;
}

.u-section-1 .u-container-layout-1 {
    padding: 30px 30px 24px;
}

.u-section-1 .u-text-1 {
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
    margin: 16px 0 0;
}

.u-section-1 .u-image-1 {
    width: 255px;
    height: 256px;
    margin: 20px auto 0;
}

.u-section-1 .u-text-2 {
    width: 270px;
    margin: 10px auto 0;
}

.u-section-1 .u-btn-1 {
    padding: 0;
}

.u-section-1 .u-layout-cell-2 {
    min-height: 430px;
}

.u-section-1 .u-container-layout-2 {
    padding: 30px;
}

.u-section-1 .u-text-3 {
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
    margin: 45px 0 0;
}

.u-section-1 .u-text-4 {
    margin: 45px 0 0;
}

.u-section-1 .u-form-1 {
    height: 83px;
    width: 510px;
    margin: 63px 0 0;
}

.u-section-1 .u-btn-2 {
    border-style: solid;
    font-weight: normal;
    text-transform: none;
    letter-spacing: normal;
}

.u-section-1 .u-text-5 {
    margin: 0;
}

.u-section-1 .u-text-6 {
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
    margin: 50px 600px 0 0;
}

.u-section-1 .u-text-7 {
    margin: 14px 360px 0 0;
}

.u-section-1 .u-btn-3 {
    border-style: none;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: -121px 139px 0 auto;
}

.u-section-1 .u-text-8 {
    margin: 92px 0 50px 358px;
}

.u-section-1 .u-btn-4 {
    padding: 0;
}

@media (max-width: 1199px) {
    .u-section-1 .u-sheet-1 {
        min-height: 840px;
    }

    .u-section-1 .u-layout-wrap-1 {
        position: relative;
        min-height: 328px;
    }

    .u-section-1 .u-layout-cell-1 {
        min-height: 506px;
    }

    .u-section-1 .u-text-1 {
        width: 270px;
        margin-left: auto;
        margin-right: auto;
    }

    .u-section-1 .u-layout-cell-2 {
        min-height: 355px;
    }

    .u-section-1 .u-text-4 {
        margin-left: 33px;
        margin-right: 33px;
    }

    .u-section-1 .u-form-1 {
        width: 410px;
    }

    .u-section-1 .u-text-6 {
        width: auto;
        margin-top: 25px;
        margin-right: 0;
    }

    .u-section-1 .u-text-7 {
        margin-top: 10px;
        margin-right: 160px;
    }

    .u-section-1 .u-btn-3 {
        margin-top: -100px;
        margin-right: 20px;
    }

    .u-section-1 .u-text-8 {
        width: auto;
        margin-top: 78px;
        margin-bottom: 60px;
        margin-left: 158px;
    }
}

@media (max-width: 991px) {
    .u-section-1 .u-sheet-1 {
        min-height: 961px;
    }

    .u-section-1 .u-layout-cell-1 {
        min-height: 542px;
    }

    .u-section-1 .u-layout-cell-2 {
        min-height: 100px;
    }

    .u-section-1 .u-form-1 {
        width: 300px;
    }

    .u-section-1 .u-text-6 {
        margin-top: 23px;
    }

    .u-section-1 .u-text-7 {
        width: auto;
        margin-top: 8px;
        margin-right: 0;
    }

    .u-section-1 .u-btn-3 {
        margin-top: 10px;
        margin-right: auto;
    }

    .u-section-1 .u-text-8 {
        margin-top: 29px;
        margin-left: 0;
    }
}

@media (max-width: 767px) {
    .u-section-1 .u-sheet-1 {
        min-height: 1561px;
    }

    .u-section-1 .u-layout-wrap-1 {
        margin-top: 81px;
    }

    .u-section-1 .u-layout-cell-1 {
        min-height: 496px;
    }

    .u-section-1 .u-container-layout-1 {
        padding-top: 0;
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-section-1 .u-text-1 {
        margin-top: 0;
    }

    .u-section-1 .u-layout-cell-2 {
        min-height: 492px;
    }

    .u-section-1 .u-container-layout-2 {
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 12px;
    }

    .u-section-1 .u-form-1 {
        height: 146px;
        margin-top: 56px;
        margin-right: 107px;
        margin-left: 113px;
    }

    .u-section-1 .u-text-5 {
        margin-top: 7px;
    }

    .u-section-1 .u-text-6 {
        margin-top: 120px;
    }

    .u-section-1 .u-text-7 {
        margin-top: 16px;
    }

    .u-section-1 .u-btn-3 {
        margin-top: -307px;
    }

    .u-section-1 .u-text-8 {
        margin-top: 282px;
    }
}

@media (max-width: 575px) {
    .u-section-1 .u-sheet-1 {
        min-height: 1467px;
    }

    .u-section-1 .u-layout-wrap-1 {
        margin-top: 25px;
        min-height: auto;
    }

    .u-section-1 .u-layout-cell-1 {
        min-height: 370px;
    }

    .u-section-1 .u-layout-cell-2 {
        min-height: 100px;
    }

    .u-section-1 .u-text-3 {
        margin-top: 0;
    }

    .u-section-1 .u-form-1 {
        margin-left: auto;
        margin-right: auto;
    }

    .u-section-1 .u-btn-2 {
        border-style: none;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 1px;
        padding: 10px 20px;
    }

    .u-section-1 .u-text-6 {
        margin-top: 137px;
    }

    .u-section-1 .u-text-7 {
        margin-top: 18px;
    }

    .u-section-1 .u-btn-3 {
        margin-top: -341px;
    }

    .u-section-1 .u-text-8 {
        margin-top: 329px;
        margin-bottom: 25px;
    }
}