.edu_navihation_header_wrapper.float_left{
        background: rgb(0 38 81);
background: -moz-linear-gradient(left, rgb(0 38 81) 0%, rgb(0 40 85) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgb(0 38 81)), color-stop(100%, rgb(0 40 85)));
background: -webkit-linear-gradient(left, rgb(0 38 81) 0%, rgb(0 40 85) 100%);
background: -o-linear-gradient(left, rgb(0 38 81) 0%, rgb(0 40 85) 100%);
background: -ms-linear-gradient(left, rgb(0 38 81) 0%, rgb(0 40 85) 100%);
background: linear-gradient(to right, rgb(0 38 81) 0%, rgb(0 40 85) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#74425d', endColorstr='#3e2e2e', GradientType=1 );
}
.main_nav_ul li a{
    color: #ffffff;
}
#search_button svg {
    width: 20px;
    fill: #ffffff;
    line-height: 0;
    height: 20px;
}
.edu_logo_main_wrapper img {
    width: 100%;
}
.edu_border_line {
    border-bottom: 1px solid #e8e8e8;
    padding-top: 10px;
    padding-bottom: 10px;
}
.pt-15 {
    padding-top: 15px;
}
.pt_5 {
    padding-top: 5px;
}
.lv_share_info_wrapper ul li .lv_header_icon {
    float: left;
    width: 60px;
    height: 60px;
    border: 1px solid #e8e8e8;
    border-radius: 100%;
    line-height: 56px;
    text-align: center;
    margin-right: 10px;
    margin-top: 10px;
}
.mainmenu ul li a {
    display: block;
    text-transform: uppercase;
    font-size: 13px;
    position: relative;
    padding: 10px 9px;
    line-height: 20px;
    text-align: center;
    color: #fff;
}
.mainmenu ul li a:hover {
    color: #ffc000;
}
.mainmenu ul li a:not([href]):not([tabindex]) {
    color: #fff;
    text-decoration: none;
}
.mainmenu ul li ul li a:not([href]):not([tabindex]) {
    color: #000;
    text-decoration: none;
}
.mainmenu ul li {
    display: inline-flex;
}
.edu_seach_wrapper {
    padding-top: 8px;
}
.mainmenu ul li ul li{
    max-width: auto;
    /* vertical-align: middle; */
    min-height: auto;
}
.kv_navigation_wrapper {
    float: none;
    width: 100%;
}
.mainmenu ul li ul li a{
    text-align: left;
}
.mainmenu ul ul.drop_hide{
    right: 25px;
}
.edu_navihation_header_wrapper.float_left.fixed{
    position: fixed;
    top: 0;
    z-index: 9;
}
.right_align{
    float: right;
}
div#sticky {
    border-top: 1px solid #ffffff94;
}
figcaption {
    top: -20px;
    left: 160px;
    width: 310px;
    -webkit-backface-visibility: hidden;
}
.footer_first_contact li a {
    font-size: 15px;
}
.edu_slide_tabs_img_cont_box h3 {
    padding-top: 10px;
    min-height: 72px;
}
.edu_slide_tabs_img_box img {
    width: 100%;
    max-height: 354px;
}
.edu_tabs_label_inner p {
    font-size: 12px;
    color: #fff;
    line-height: 16px;
    padding-top: 20px;
}
.footerNav.jb_cover.footlogo img {
    padding-right: 10px;
    width: 100%;
}
.footerNav.jb_cover.footer_border_displ {
    padding-left: 30px;
}
.edu_bottom_btn_wrapper a {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.edu_slide_tab_box:hover,.edu_blog_main_box:hover {
    -o-box-shadow: 0 5px 20px #00285547;
    -ms-box-shadow: 0 5px 20px #00285547;
    -moz-box-shadow: 0 5px 20px #00285547;
    -webkit-box-shadow: 0 5px 20px #00285547;
    box-shadow: 0 5px 20px #00285547;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    margin-top: 50px;
}
.edu_slide_tab_box, .edu_blog_main_box {
    border: 1px solid #0D5257;
    min-height: 23em;
}
.edu_slide_tabs_img_cont_box {
    padding: 10px 20px 20px;
}
.edu_books_text h3{
    font-size: 18px;
    color: #1e283c;
    font-weight: 600;
}
.edu_slide_tabs_img_cont_box h3{
    font-size: 22px;
    font-weight: 600;
    color: #1e283c;
    position: relative;
}
.edu_slide_tabs_img_cont_box h3:after {
    position: absolute;
    content: '';
    width: 60px;
    height: 3px;
    left: 0px;
    bottom: -10px;
    transition: all 500ms ease;
    background: rgb(0 38 81);
    background: -moz-linear-gradient(left, rgb(0 38 81) 0%, rgb(0 40 85) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgb(0 38 81)), color-stop(100%, rgb(0 40 85)));
    background: -webkit-linear-gradient(left, rgb(0 38 81) 0%, rgb(0 40 85) 100%);
    background: -o-linear-gradient(left, rgb(0 38 81) 0%, rgb(0 40 85) 100%);
    background: -ms-linear-gradient(left, rgb(0 38 81) 0%, rgb(0 40 85) 100%);
    background: linear-gradient(to right, rgb(0 38 81) 0%, rgb(0 40 85) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#74425d', endColorstr='#3e2e2e', GradientType=1 );
    -webkit-mask-size: 200%;
    animation: shine 2s infinite;
}
.edu_slide_tabs_img_cont_box p {
    padding-top: 20px;
}
.main_nav_ul {
    float: left;
}
/*ul#menu {
    width: 94%;
}*/
ul#submenu {
   /* right: 15px;*/
    background-color: #f9f9f9;
}
ul#submenu li {
    width: 100% !important;
    display: block !important;
    background-color: #f9f9f9;
}
ul#submenu li a{
        color: #797979;
    text-transform: capitalize;
    font-size: 14px;
    padding: 8px 10px 8px 20px;
    border-bottom: 1px solid #eee;
    margin: 0;
    background-color: #f9f9f9;
}
ul#submenu li:before,ul#submenu .gc_main_navigation:before {
    width: auto !important;
    background: none !important;
}
.edu_heading_wrapper p {
    text-align: justify;
    width: 80%;
    margin: 0 auto;
}
.footer_border_displ ul li {
    margin-bottom: 10px;
    font-size: 14px;
}
.footer {
    padding: 80px 90px;
}
.edu_team_main_box:hover .edu_team_inner_box {
    top: 0;
    transform: scale(1.5);
}
.edu_team_main_box h3, .edu_team_main_box p, .edu_team_main_box ul {
    opacity: 1;
}
.edu_team_main_box:after {
    background: #00285457;
    border: 5px solid rgb(0 38 81);
}
.edu_team_main_box h3 a, .edu_team_main_box ul li a {
    color: #ffffff;
}
.edu_team_main_box p {
    color: #ffffff;
    position: relative;
    z-index: 1;
}
.edu_team_main_box {
    overflow: hidden;
}
.edu_blog_label {
    width: 80%;
}
.footer_first_contact li i:before {
    width: 20px;
    line-height: 24px;
}
.edu_right_form input[type="submit"] {
    width: 160px;
    height: 50px;
    background: #EAAA00;
    color: #402f30;
    cursor: pointer;
    border: transparent;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    margin-left: -30px;
}
.page_content header {
    height: auto;
    padding-bottom: 15px;
}
.main_content p{
    padding-bottom: 15px;
}
.page_content {
    padding-top: 180px;
}
button.sub-menu-toggle {
    display: none;
}
.page_title_section {
    padding: 70px 0;
}
.main_content h2 {
    margin-bottom: 15px;
    padding-top: 45px;
}
.main_content ul {
    padding-left: 15px;
    list-style: disc;
}
.main_content ul li, .main_content ol li {
    margin: 10px;
}
.main_content a {
    color: #6094cd;
}
ul#sidebar_menu li {
    background: #002854;
    
    border-bottom: 1px solid #c9c9c99c;
    color: #d3d3d3;
}
ul#sidebar_menu li a{
    color: #d3d3d3;
    padding: 13px 21px;
    display: block;
}
ul#sidebar_menu {
    padding-top: 37px;
}
.side_fixed {
    position: fixed;
    top: 40px;
    width: 100%;
    z-index: 9;
    height: 90vh;
    overflow: auto;
}
ul#sidebar_menu li.active {
    background: #eaaa00;
}
ul#sidebar_menu li.active a {
    color: #000000;
    display: block;
    padding: 13px 21px;
}
.edu_top_header_left_wrapper p a {
    font-size: 30px;
    padding: 10px 5px;
}
.self_align_center {
    width: 18%;
    margin: 0 auto;
}
.rev_slider {
    float: none;
    width: 80%;
    margin: 0 auto;
    max-height: 30em;
}
.edu_top_header_left_wrapper img {
    width: 200px;
}
.edu_top_header_left_wrapper {
    display: flex;
    align-items: center;
}
.index3_form_wrapper .edu_slide_tab_box, .edu_blog_main_box {
    min-height: 32em;
}
.content_research {
    padding: 25px 15px;
    border: 1px solid #0D5257;
    margin: 30px 0 0;
}
.content_research ol {
    padding-left: 40px;
}
.current_page_ancestor ul li a, .current-menu-parent ul li a{
     color: #000 !important;
}
.current_page_item a, .current-menu-parent a,.current_page_ancestor a {
    color: #ffc000 !important;
}
.mainmenu ul ul li:hover > ul {
    top: auto;
    margin-top: -38px;
}
.mainmenu ul ul li > ul {
    left: 100%;
}
.self_align_center.team_box {
    border: 1px solid #0D5257;
    overflow: hidden;
}
.edu_team_inner img {
    max-height: 11em;
    width: 100%;
    transition: all 0.5s;
}
.edu_team_main h3 {
    font-size: 16px;
    padding: 0px 0px 10px;
}
.edu_team_main {
    padding: 10px 10px;
}
.self_align_center.team_box:hover .edu_team_inner img {
    transform: scale(1.5);
}
.edu_team_inner {
    overflow: hidden;
}
.edu_team_main ul li {
    display: inline-block;
    margin-right: 5px;
    margin-top: 10px;
}
.edu_top_header_left_wrapper p a {
    font-family: inherit;
    display: block;
}
.main_content h2:nth-of-type(1)
{
    padding-top: 0;
} 
.mainmenu ul ul li a, .mainmenu ul li.has-mega .mega-menu span a {
    color: #000;
    text-transform: capitalize;
    font-size: 14px;
    padding: 8px 10px 8px 20px;
    border-bottom: 1px solid #eee;
    margin: 0;
}
@media (max-width: 1466px){
    .kv_navigation_wrapper {
        float: left;
        width: 95%;
    }
    ul#menu {
        width: 92%;
    }
}
@media (max-width: 991px){
    .kv_navigation_wrapper {
        float: left;
        width: auto;
    }
    .edu_seach_wrapper {
        padding-top: 20px;
    }
	i.flaticon-menu {
		color: #fff;
	}
	.edu_top_header_left_wrapper p a {
		font-family: inherit;
		display: block;
		line-height: 35px;
		padding-left: 10px;
	}

}
@media (max-width: 600px){
	.edu_top_header_left_wrapper {
		display: block;
	}
	.edu_top_header_left_wrapper p a {
		font-size: 20px;
	}
	.edu_top_header_left_wrapper img {
		width: 129px;
	}
	.footer {
		padding: 80px 0px;
	}
	.cd-dropdown-content, .cd-dropdown-content ul {
		position: relative;
		padding-left: 10px;
		padding-top: 0;
	}
	
}